.input {
  padding: 8px 12px; /* Ajusta el espaciado del campo de entrada */
  font-size: 12px; /* Ajusta el tamaño del texto del campo de entrada */
  border: none; /* Quita el borde del campo de entrada */
  border-bottom: 2px solid #282828; /* Agrega un borde inferior gris claro */
  width: 200px; /* Ajusta el ancho del campo de entrada */
  height: 40px;
  border-radius: 5px;
}

.busqueda {
  margin: 5px;
  text-decoration: none;
  background-color: rgb(196, 245, 229);
  color: #000000;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  font-size: 10px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.busqueda:hover {
  background-color: #ffffff;
  color: #3c8b7e;
  animation: neon-glow 1s ease-out infinite alternate;
}

.busqueda:active:before {
  filter: none;
}

@keyframes neon-glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #2eccac,
      0 0 70px #2eccac, 0 0 80px #2eccac, 0 0 100px #2eccac;
  }

  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #2eccac, 0 0 70px #2eccac,
      0 0 80px#2eccac, 0 0 100px #2eccac, 0 0 150px #2eccac;
  }
}
